.navbar-nav a {
    font-size: 18px;
}

    .sub-menu-item {
      padding-left: 25px;
      text-decoration: none;
      color: white;
      
    }
    .list{
        list-style-type: none;
    }
    .li{
        padding: 2px;
        
    }
    a.sub-menu-item:hover{
       
        color:white
    }
    li.li:hover{
        background-color: rgba(128, 0, 128, 0.5);
    }
   